/* DÙNG CHUNG CHO TRANG CHỦ */

#home-page .content {
    background: rgba(24, 24, 24, 0.527);
    padding: 1rem;
    margin-bottom: 2rem;
}

#home-page .content h2 {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Time news roman', Helvetica, Arial, sans-serif;
}

#home-page .content .danhngon {
    color: #B6B6B6;
    text-align: center;
    font-family: 'Time news roman', Helvetica, Arial, sans-serif;
}

#home-page .hinhanh img {
    border: 1px solid #7C7C7C;
    padding: 5px;
    background: rgba(71, 71, 71, 0.486);
}

.hinhanh {
    text-align: center
}

.hinhanh img {
    max-width: 100%;
    border: 1px solid #607D8B;
    padding: 2px;
    background: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    opacity: .8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.hinhanh img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.content .ontop {
    position: relative;
}

.ontop a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 17px 2px;
    background: #BDBBBB;
    border-radius: 50px;
    width: 48px;
    height: 30px;
    color: #3B3B3B
}

.ontop a {
    position: fixed;
    bottom: 30px;
    right: 1px
}