body {
    font-family: 'Time news roman', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body {
    background-image: url('../img/111.jpg');
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #c8232c
}

a:hover {
    color: #c8232c;
    text-decoration: underline;
}