    #khohang>img {
        float: left;
        padding: 0px;
        position: relative;
        overflow: hidden;
    }
    
    #khohang img:hover {
        opacity: 1;
        transform: scale(1.15, 1.15);
        -webkit-transform: scale(1.15, 1.15);
        -moz-transform: scale(1.15, 1.15);
        -ms-transform: scale(1.15, 1.15);
        -o-transform: scale(1.15, 1.15);
    }
    
    #khohang>img {
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: 4;
    }
    
    #khohang>img {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
    /* a */
    
    .block {
        width: 1280px;
        height: 755px;
        position: relative;
    }
    /*KHUNG NỘI DUNG*/
    
    .block .block-wrapper {
        width: 1280px;
        height: 755px;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    /* MẶT TRƯỚC */
    
    .block .front-side {
        position: absolute;
        width: 1280px;
        height: 755px;
        top: 0;
        left: 0;
        display: flex;
        align-content: center;
        align-items: center;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        z-index: 2;
    }
    
    .block .front-side img {
        padding: 90px 0px 0px 0px;
        width: 100%;
        height: auto
    }
    
    .back-wrapper p {
        font-size: 17px;
        padding: 30px 100px 0px 100px;
        color: #036970;
        text-align: center;
        font-family: 'Time news roman', Helvetica, Arial, sans-serif;
        line-height: 30px;
        text-shadow: 1px 1px 3px #77D1D4;
    }
    /* MẶT SAU */
    
    .block .back-side {
        position: absolute;
        width: 1280px;
        height: 755px;
        top: 0;
        left: 0;
        z-index: 1;
        box-sizing: border-box;
    }
    
    .block .back-side h1 {
        font-size: 50px;
        padding: 50px 100px 0px 100px;
        color: #01504C;
        font-family: "Brush Script MT", cursive;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
        text-align: center;
        text-shadow: 1px 1px 3px #77D1D4;
    }
    
    .block .front-side {
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform-origin: right bottom;
    }
    
    .block:hover .front-side {
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }
    
    .block.reverse:hover .front-side {
        transform-origin: left bottom;
    }
    
    .block.reverse:hover .front-side {
        transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
    }